//footer styling for the page
.footer-wrapper {
  margin-top: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  .footer {
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $quicksand;

    .copyright {
      justify-content: center;
      text-transform: lowercase;
      color: white;
      font-size: 20px;
    }
  }
}

@media (max-width: 600px) {
  .footer-wrapper {
    .footer {
      flex-direction: column;
    }
  }
}
